.form-card {
  height: 400px;
  width: 424px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 5px;
}

.success-card {
  height: 200px;
  width: 424px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 5px;
}

.icon-x {
  align-self: flex-end;
  font-size: 30px;
}

.msg-success {
  text-align: center;
  position: relative;
  top: 35px;
  font-size: 26px;
}

.custom-loader{
  position:fixed;
  z-index: 1;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 424px) {
  .form-card,
  .success-card {
    width: 90%;
  }
}
